			<div id="alert" aria-live="assertive" class="mb-8 hidden"></div>
			<div class="section-box mid-box home-menu">
				<div class="avatar" id="avatar-container">
					<i class="fas fa-camera camera-icon"></i>
					<input type="file" id="avatar-input" class="avatar-input" accept="image/*">
					<div id="avatar-spinner" class="spinner hidden" aria-hidden="true"></div>
				</div>
				<div class="bloc-title">
					<div id="welcome-username" class="page-title"></div>
					<div class="under-title">
						<span>Ready to challenge the magical realm&#8239;?</span>
					</div>
				</div>
				<div class="btn-container">
					<a href="/game" id="play-button" class="btn" data-link>
						Play against AI
					</a>
				</div>
				<div class="btn-container">
					<a href="/game/local" id="play-button" class="btn" data-link>
						Play against friend
					</a>
				</div>
				<div class="btn-container">
					<a href="/tournaments" id="tournament-button" class="btn" data-link>
						Tournaments
					</a>
				</div>
				<div class="btn-container">
					<a href="/rules" id="rules-button" class="btn" data-link>
						Rules
					</a>
				</div>
			</div>