			<div class="section-box home-menu">
				<div class="avatar"></div>		
				<div class="bloc-title">
					<h1 class="page-title"></h1>
					<div class="under-title">
						<span>Ready to challenge the magical realm ?</span>
					</div>
				</div>
				<div class="btn-container">
					<a href="/game" id="play-button" class="btn" data-link>
						Play against AI
					</a>
				</div>
				<div class="btn-container">
					<a href="/game" id="play-button" class="btn" data-link>
						Play against friend
					</a>
				</div>
				<div class="btn-container">
					<a href="/tournaments" id="tournament-button" class="btn" data-link>
						Tournaments
					</a>
				</div>
				<div class="btn-container">
					<a href="/rules" id="rules-button" class="btn" data-link>
						Rules
					</a>
				</div>
			</div>