			<div class="bloc-title">
				<div class="pong-logo group">
					<h1 class="title group-hover:scale-105">
						<span class="animate-letter-float-1">P</span>
						<span class="animate-letter-float-2">
							O
							<img src="/img/design/magical-ball.png" class="magical-ball" alt="Magical ball">

						</span>
						<span class="animate-letter-float-3">N</span>
						<span class="animate-letter-float-4">G</span>
					</h1>
				</div>
				<div class="under-title">
					<span>Join us, transcende and play</span>
				</div>
			</div>

			<div class="section-box login-box">
				<form class="form-box" id="login-form">
					<div class="fields-container">
						
						<!-- Email -->
						<div class="field-box">
							<label for="email">Email :</label>
							<input type="email" id="email" name="email" required>
						</div>

						<!-- Password -->
						<div class="field-box">
							<label for="password">Password :</label>
							<input type="password" id="password" name="password" required>
						</div>
					</div>

					<!-- Submit -->
					<div class="btn-container">
						<button type="submit" class="btn form-btn">
							Login
						</button>
					</div>

					<div id="alert" aria-live="assertive" class="hidden"></div>
				</form>

				<div>
					<span>Not registered yet ?</span>
					<div class="btn-container">
						<a href="/register" class="btn smaller-btn" data-link>
							Sign up
						</a>
					</div>
				</div>

				<div class="btn-container btn-google-container">
					<a href="/api/auth/google" class="btn-google " aria-label="Sign in with Google">
						<img src="img/design/google-icon.svg" alt="Google logo" class="google-logo" />
						<span>Sign in with Google</span>
					</a>
				</div>
			</div>