					<nav class="navbar-content">
						
						<!-- MAIN NAVBAR -->
						<div class="navbar-style navbar-pos">

							<!-- BURGER BUTTON (visible uniquement mobile/tablette) -->
							<button id="burger-btn">
								<i class="fa-solid fa-bars"></i>
							</button>

							<div id="navbar-menu" class="hide">
	
								<!-- Home / Game -->
								<a href="/" class="group" data-link>
									<i class="fa-solid fa-gamepad group-hover:text-blue-300"></i>
									<span class="group-hover:text-blue-300">Home</span>
								</a>

								<!-- Profile -->
								<a href="/profile" class="group" data-link>
									<i class="fa-solid fa-user group-hover:text-blue-300"></i>
									<span class="group-hover:text-blue-300">Profile</span>
								</a>

								<!-- Stats -->
								<a href="/dashboard" class="group" data-link>
									<i class="fa-solid fa-chart-simple group-hover:text-blue-300"></i>
									<span class="group-hover:text-blue-300">Stats</span>
								</a>

								<!-- Users -->
								<a href="/users" class="group" data-link>
									<i class="fa-solid fa-users group-hover:text-blue-300"></i>
									<span class="group-hover:text-blue-300">Users</span>
								</a>

								<!-- Leaderboard -->
								<a href="/leaderboard" class="group" data-link>
									<i class="fa-solid fa-trophy group-hover:text-blue-300"></i>
									<span class="group-hover:text-blue-300">Leaderboard</span>
								</a>

								<!-- Settings -->
								<a href="/settings" class="group" data-link>
									<i class="fa-solid fa-gear group-hover:text-blue-300"></i>
									<span class="group-hover:text-blue-300">Settings</span>
								</a>

								<!-- Logout -->
								<a href="/logout" class="group">
									<i class="fa-solid fa-right-from-bracket group-hover:text-blue-300"></i>
									<span class="group-hover:text-blue-300">Logout</span>
								</a>
							</div>

						</div>

						<!-- NOTIFICATION BAR (WS) -->
						<div class="notifbar-wrapper">
							<div class="navbar-style notifbar-px">
								
								<!-- Notifications -->
								<a href="/notifications" data-link>
									<i class="fa-solid fa-envelope"></i>
								</a>
								
								<!-- Chat -->
								<a href="/chat" class="group" data-link>
									<i class="fa-solid fa-comment"></i>
								</a>
							</div>
						</div>

					</nav>