					<nav class="navbar-content">
  
						<!-- Game -->
						<a href="/game" class="group">
							<i class="fa-solid fa-gamepad group-hover:text-blue-300"></i>
							<span class="group-hover:text-blue-300">Play</span>
						</a>

						<!-- Profile -->
						<a href="/profile" class="group flex flex-col items-center">
							<i class="fa-solid fa-user group-hover:text-blue-300"></i>
							<span class="group-hover:text-blue-300">Profile</span>
						</a>

						<!-- Stats -->
						<a href="/dashboard" class="group flex flex-col items-center">
							<i class="fa-solid fa-chart-simple group-hover:text-blue-300"></i>
							<span class="group-hover:text-blue-300">Stats</span>
						</a>

						<!-- Users -->
						<a href="/users" class="group flex flex-col items-center">
							<i class="fa-solid fa-users group-hover:text-blue-300"></i>
							<span class="group-hover:text-blue-300">Users</span>
						</a>
						
						<!-- Chat -->
						<a href="/chat" class="group flex flex-col items-center">
							<i class="fa-regular fa-comment-dots group-hover:text-blue-300"></i>
							<span class="group-hover:text-blue-300">Chat</span>
						</a>

						<!-- Leaderboard -->
						<a href="/leaderboard" class="group flex flex-col items-center">
							<i class="fa-solid fa-trophy group-hover:text-blue-300"></i>
							<span class="group-hover:text-blue-300">Leaderboard</span>
						</a>

						<!-- Settings -->
						<a href="/settings" class="group flex flex-col items-center">
							<i class="fa-solid fa-gear group-hover:text-blue-300"></i>
							<span class="group-hover:text-blue-300">Settings</span>
						</a>

						<!-- Logout -->
						<a href="/logout" class="group flex flex-col items-center">
							<i class="fa-solid fa-right-from-bracket group-hover:text-blue-300"></i>
							<span class="group-hover:text-blue-300">Logout</span>
						</a>

					</nav>