# Fichiers d'environnement
.env
.env.*
!.env.example

# Dependencies
/node_modules
/src/backend/vendor

# Build
/dist
*.log

# Base de données SQLite
/src/database/data.sqlite
/src/database/*.db
/src/database/*.sqlite3

# Uploads
/src/uploads/*
!/src/uploads/.gitkeep

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeurs
/.idea
/.vscode
*.swp
*.swo