# Fichier d'environnement
.env

# Dependances
node_modules/

# Build
dist/
build/
*.log

# Base de données SQLite
# Fichiers à rajouter !

# CSS généré par SCSS + fichiers relatifs
*.css
*.css.map
/frontend/assets/styles
!/frontend/**/*.scss
**/watch-sass.sh
**/dart-sass/

# Uploads
/frontend/uploads/*
!/frontend/uploads/.gitkeep

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeurs
/.idea
/.vscode
*.swp
*.swo

# Perso Lee
project-readme.md