<div id="pong-section" class="section-box large-box game-local justify-evenly flex h-full w-full">
  <h1 class="font-title font-bold text-5xl text-center text-shadow-black w-full" data-ts="home.localGameBtn">1v1 • local game</h1>
  <h2 class="text-3xl text-shadow-black" data-ts="game.controlLabel">CONTROLS</h2>
  <div class="flex justify-evenly h-full w-full">
    <div class="flex-1 flex flex-col justify-center justify-evenly items-center text-4xl h-full">
      <div class="control mb-3" data-key="w">W</div>
      <div class="control" data-key="s">S</div>
    </div>
    <div class="flex-1 flex flex-col justify-center items-center text-4xl h-full">
      <div class="control mb-3" data-key="ArrowUp">↑</div>
      <div class="control" data-key="ArrowDown">↓</div>
    </div>
  </div>
  <div data-ts="game.ready">READY? PRESS SPACE TO BEGIN</div>
  <!-- <div id="game-section" class="game-section"> -->
  <!-- Partie jeu -->
  <!-- <canvas id="pong-canvas"></canvas> -->
  <!-- Stats tournois, infos jeu etc... -->
  <div id="infos-game"></div>
  <!-- </div> -->
</div>