<div id="tournament-item"
    class="flex relative justify-between items-center m-2 p-2 border-1 border-white rounded-md bg-black shadow-sm bg-opacity-20 transition transition-all hover:bg-white hover:text-black hover:shadow-md hover:shadow-black">
    <h3 id="tournament-name" class="w-1/4"></h3>
    <h3 id="players" class="w-1/4">
        <span data-ts="tournament.players" >Players :</span> </h3>
    <h3 class="w-1/4 italic">
        <span data-ts="tournament.status" >Status :</span>
        <i id="status" class="fa-solid fa-circle text-green-500 text-sm"></i>
    </h3>
    <i id="cancel-tournament" class="hidden absolute right-5 text-red-500 fa-solid fa-circle-xmark"></i>
</div>