<!-- <div id="pong-section" class="h-full w-full section-box large-box game-local justify-evenly p-0"> -->
    <h1 class="font-title m-10 font-bold text-5xl text-center text-shadow-5xl text-shadow-black text-white w-full">TOURNAMENTS</h1>
    <div id="register-container" class="size-full h-96 flex justify-evenly items-center">
        <div id="alias-container" class="relative h-full flex flex-col justify-center items-center">
            <div id="inputs-container"
                class="h-64 w-full m-2 flex flex-col justify-center items-center bg-black bg-opacity-50 shadow-lg shadow-black ring-1 ring-black inset-shadow-lg inset-shadow-white-500 border-white rounded-md">
                <h3 class="font-title text-center m-3">Create new tournament</h3>
                <h3 class="font-title text-sm">Name :</h3>
                <input id="tournament-name-input" type="text"
                    class="w-1/2 m-2 p-1 bg-white bg-opacity-10 rounded-md shadow-white bg-opacity-10 text-white focus:outline-none"></input>
                <div id="tournament-btn-holder" class="h-full w-full flex justify-center items-center">
                    <button id="btn-counter"
                    class="flex justify-center items-center text-center text-5xl border-2 border-white rounded-md h-1/3 aspect-square m-2 shadow-lg pb-2 transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-white hover:opacity- hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">-</button>
                    <h3 id="btn-counter-nb" class="text-5xl w-1/4 text-center">4</h3>
                    <button id="btn-counter"
                    class="flex justify-center items-center text-center text-5xl border-2 border-white rounded-md h-1/3 aspect-square m-2 shadow-lg pb-2 transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-white hover:opacity- hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">+</button>
                </div>

            </div>
        </div>
        <div id="all-tournaments"
            class="gap-1 p-2 bg-black bg-opacity-30 shadow-lg shadow-black ring-1 ring-black <!-- inset-shadow-lg inset-shadow-white-500 --> border-white rounded-md h-full w-2/3 overflow-hidden scroll-smooth">
        </div>
    </div>
    <button id="tournament-start-btn"
        class="rounded-md border-black border-2 border-transparent p-2 transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-white hover:opacity-70 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">START!</button>
    <!-- </div> -->
    <div id="infos-game"></div>
    <!-- </div> -->
<!-- </div> -->