@layer base {

	:root {
		--navbar-height: 62px;
		--footer-height: 34px;
		--m-top-main: calc(var(--navbar-height) + var(--footer-height));
	}
	
	*, ::before, ::after {
		@apply box-border;
	}

	html, body {
		@apply h-screen;
	}

	body {
		@apply flex flex-col overflow-x-hidden
		bg-body-bg-color bg-body-bg-img bg-cover bg-center bg-no-repeat
		font-home text-main-font-color;
	}

	nav {
		@apply font-classic;
	}

	main {
		@apply w-full h-full px-10 py-24 overflow-auto;
	}

	footer {
		@apply flex items-center justify-center
		font-classic text-xs bg-white/10 backdrop-blur-xl border border-white/20 shadow-md text-white text-center text-shadow-black
		h-[--footer-height];
	}
}