					<nav class="navbar-content">
						
						<div id="pong-navbar" class="pong-logo">
							<h1 class="title">
								<span>PONG</span>
								<img src="/assets/img/design/magical-ball.png" class="magical-ball" alt="Magical ball">
							</h1>
						</div>

						<!-- MAIN NAVBAR -->
						<div class="navbar-style navbar-pos">

							<!-- BURGER BUTTON (visible uniquement mobile/tablette) -->
							<button id="burger-btn">
								<i class="fa-solid fa-bars"></i>
							</button>

							<div id="navbar-menu" class="hide">
	
								<!-- Home / Game -->
								<a href="/" class="group" data-link>
									<i class="fa-solid fa-table-tennis-paddle-ball group-hover:text-cyan-300 no-hover-if-active"></i>
									<span data-ts="nav.game" class="group-hover:text-cyan-300 no-hover-if-active">Game</span>
								</a>

								<!-- Users -->
								<a href="/users" class="group" data-link>
									<i class="fa-solid fa-users group-hover:text-cyan-300 no-hover-if-active"></i>
									<span data-ts="nav.players" class="group-hover:text-cyan-300 no-hover-if-active">Players</span>
								</a>

								<!-- Profile -->
								<a href="/profile" class="group" data-link>
									<i class="fa-solid fa-user group-hover:text-cyan-300 no-hover-if-active"></i>
									<span data-ts="nav.profile" class="group-hover:text-cyan-300 no-hover-if-active">Profile</span>
								</a>

								<!-- Settings -->
								<a href="/settings" class="group" data-link>
									<i class="fa-solid fa-gear group-hover:text-cyan-300 no-hover-if-active"></i>
									<span data-ts="nav.settings" class="group-hover:text-cyan-300 no-hover-if-active">Settings</span>
								</a>

								<!-- Logout -->
								<a href="/logout" class="group">
									<i class="fa-solid fa-right-from-bracket group-hover:text-cyan-300 no-hover-if-active"></i>
									<span data-ts="nav.logout" class="group-hover:text-cyan-300 no-hover-if-active">Logout</span>
								</a>
							</div>

						</div>

						<!-- NOTIFICATION BAR (WS) -->
						<div class="notifbar-wrapper">
							<div class="navbar-style notifbar-px">
								
								<!-- Notifications -->
								<button id="notifs">
									<i class="fa-solid fa-bell"></i>
									<span class="notif-count hidden">0</span>
								</button>
								<div id="notifs-window" class="window hide z-30">
								</div>
								
								<!-- Chat (a eventuellement implementer, enlever class "hidden") -->
								<button id="chat" class="hidden">
									<i class="fa-solid fa-comment"></i>
								</button>
								<div id="chat-window" class="window hide z-30">
									<span></span>
								</div>

								<div id="languages"></div>
							</div>
						</div>

					</nav>