			<div class="bloc-title">
				<div class="page-title">Dashboard</div>
				<div class="under-title">
					<span>Game statistics and more</span>
				</div>
			</div>
			
			<div id="dashboard" class="section-box mid-full-box large-box">
				<div class="stats-box">
					<!-- Stats -->
					<div class="stat-card">Game played : <span id="total-games">152</span></div>
					<div class="stat-card">Victory rate : <span id="win-rate">60%</span></div>
					<div class="stat-card">Average score : <span id="avg-score">8.4</span></div>
					<div class="stat-card">Best streak : <span id="streak">5 victoires</span></div>
				</div>

				<!-- Graphiques -->
				<div class="graphic-box">
					<canvas id="lineChart"></canvas>
				</div>
				<div class="graphic-box">
					<canvas id="pieChart"></canvas>
				</div>
			</div>