			<div class="bloc-title">
				<div class="page-title" data-ts="dashboard.pageTitle">Dashboard</div>
				<div class="under-title" data-ts="dashboard.underTitle">
					Game statistics and more
				</div>
			</div>
			
			<div id="dashboard" class="section-box mid-full-box large-box">
				<div class="stats-box">
					<!-- Stats -->
					<div class="stat-card">
						<span data-ts="dashboard.totalGames">Game played: </span>
						<span id="total-games">152</span>
					</div>
					<div class="stat-card">
						<span data-ts="dashboard.winRate">Win rate: </span>
						<span id="win-rate">60%</span>
					</div>
					<div class="stat-card">
						<span data-ts="dashboard.averageScore">Average score: </span>
						<span id="avg-score">8.4</span>
					</div>
					<div class="stat-card">
						<span data-ts="dashboard.streak">Streaks: </span>
						<span id="streak">5 wins</span>
					</div>
				</div>

				<!-- Graphiques -->
				<div class="graphic-box">
					<canvas id="lineChart"></canvas>
				</div>
				<div class="graphic-box">
					<canvas id="pieChart"></canvas>
				</div>
			</div>