				<div id="alert" aria-live="assertive" class="mb-8 hidden"></div>
				<div class="section-box mid-box-limited home-menu">
					<div class="avatar"></div>
					<div class="bloc-title">
						<div class="page-title">
							<span data-ts="home.greeting">Hi</span>
							<span id="welcome-username"></span>
							<span>&#8239;!</span>
						</div>
						<div class="under-title" data-ts="home.underTitle">
							Ready to challenge the magical realm&#8239;?
						</div>
					</div>
					<div class="btn-container hidden">
						<a href="/rules" id="play-button" class="btn" data-ts="home.rulesBtn" data-link>
							Rules
						</a>
					</div>
					<div class="btn-container">
						<a href="/game/local" id="play-button" class="btn" data-ts="home.localGameBtn" data-link>
							1v1 local game
						</a>
					</div>
					<div class="btn-container">
						<a href="/game/multi" id="play-button" class="btn" data-ts="home.distantGameBtn" data-link>
							1v1 online game
						</a>
					</div>
					<div class="btn-container">
						<a href="" id="tournament-button" class="btn" data-ts="home.localTournamentBtn" data-link>
							Local tournament
						</a>
					</div>
					<div class="btn-container">
						<a href="/game/tournaments" id="tournament-button" class="btn" data-ts="home.onlineTournamentBtn" data-link>
							Online tournaments
						</a>
					</div>
				</div>
