			<div id="alert" aria-live="assertive" class="mb-8 hidden"></div>
			<div class="section-box mid-box home-menu">
				<div class="avatar"></div>
				<div class="bloc-title">
					<div id="welcome-username" class="page-title"></div>
					<div class="under-title">
						<span>Ready to challenge the magical realm&#8239;?</span>
					</div>
				</div>
				<div class="btn-container">
					<a href="/rules" id="play-button" class="btn" data-link>
						Rules
					</a>
				</div>
				<div class="btn-container">
					<a href="/game/local" id="play-button" class="btn" data-link>
						Local game
					</a>
				</div>
                <div class="btn-container">
					<a href="/game/multi" id="play-button" class="btn" data-link>
						Multiplayer Game
					</a>
				</div>
				<div class="btn-container">
					<a href="/game/tournaments" id="tournament-button" class="btn" data-link>
						Tournament
					</a>
				</div>
			</div>