			<div id="alert" aria-live="assertive" class="mb-8 hidden"></div>
			<div class="section-box mid-box home-menu">
				<div class="avatar" id="avatar-container">
					<i class="fas fa-camera camera-icon"></i>
					<input type="file" id="avatar-input" class="avatar-input" accept="image/*">
					<div id="avatar-spinner" class="spinner hidden" aria-hidden="true"></div>
				</div>
				<div class="bloc-title">
					<div class="page-title">Settings</div>
					<div class="under-title">
						<span>Blou</span>
					</div>
				</div>
				<span>feut form</span>
			</div>