<div class="user-line">
	<div class="cell user-cell">
		<div class="avatar-cell">
			<img class="avatar-img" src="" alt="avatar" />
		</div>
		<div class="name-cell"></div>
		<div class="status-cell"></div>
	</div>
	<div class="cell level-cell">
		<div class="profile-button">
			<i class="fa-regular fa-circle-user"></i>
		</div>
		<div class="winrate-cell">
			<span data-ts="users.winRateLabel">Win rate: </span>
			<span class="winrate"></span>
		</div>
	</div>
	<div class="cell log-cell"></div>
	<div class="cell button-cell">
		<button class="hidden add-friend-button">
			<i class="fa-solid fa-plus"></i>
			<span data-ts="users.addFriend">Add friend</span>
		</button>
		<button class="hidden accept-friend-button">
			<i class="fa-solid fa-plus"></i>
			<span data-ts="users.acceptFriend">Accept</span>
		</button>
		<button class="hidden decline-friend-button">
			<i class="fa-solid fa-xmark"></i>
			<span data-ts="users.declineFriend">Decline</span>
		</button>
		<button class="hidden cancel-friend-button">
			<i class="fa-solid fa-xmark"></i>
			<span data-ts="users.cancelFriend">Cancel friend request</span>
		</button>
		<button class="hidden challenge-button">
			<i class="fa-solid fa-bolt"></i>
			<span data-ts="users.challenge">Play</span>
		</button>
		<button class="hidden unfriend-button">
			<i class="fa-solid fa-xmark"></i>
			<span data-ts="users.unfriend">Unfriend</span>
		</button>
		<button class="hidden block-friend-button" title="Block">
			<i class="fa-solid fa-ban"></i>
		</button>
		<button class="hidden unblock-friend-button">
			<i class="fa-solid fa-check"></i>
			<span data-ts="users.unblockFriend">Unblock</span>
		</button>
	</div>
	<div class="cell friend-logo-cell"></div>
</div>