<div class="user-line">
	<div class="cell ml-4 user-cell">
		<div class="avatar-cell">
			<img class="avatar-img" src="" alt="avatar" />
		</div>
		<div class="name-cell"></div>
	</div>
	<div class="cell status-cell"></div>
	<div class="cell level-cell"></div>
	<div class="cell button-cell">
		<button class="hidden challenge-button">
			<i class="fa-solid fa-bolt"></i>
			<span>Challenge</span>
		</button>
		<button class="hidden add-friend-button">
			<i class="fa-solid fa-plus"></i>
			<span>Add to friends</span>
		</button>
		<button class="hidden cancel-friend-request-button">
			<i class="fa-solid fa-xmark"></i>
			<span>Cancel request</span>
		</button>
		<button class="hidden unblocked-friend-button">
			<i class="fa-solid fa-ban"></i>
			<span>Unblocked</span>
		</button>
		<button class="hidden accepted-friend">
			<i class="fa-solid fa-check"></i>
			<span>Friend</span>
		</button>
	</div>
</div>