<div class="user-line">
	<div class="cell ml-4 user-cell">
		<div class="avatar-cell">
			<img class="avatar-img" src="" alt="avatar" />
		</div>
		<div class="name-cell"></div>
	</div>
	<div class="cell status-cell"></div>
	<div class="cell level-cell"></div>
	<div class="cell button-cell">
		<button class="hidden challenge-button">
			<i class="fa-solid fa-bolt"></i>
			<span>Challenge</span>
		</button>
		<button class="hidden add-friend-button">
			<i class="fa-solid fa-plus"></i>
			<span>Add to friends</span>
		</button>
		<button class="hidden accept-friend-button">
			<i class="fa-solid fa-plus"></i>
			<span>Accept friend request</span>
		</button>
		<button class="hidden remove-friend-button">
			<i class="fa-solid fa-xmark"></i>
			<span></span>
		</button>
		<button class="hidden block-friend-button">
			<i class="fa-solid fa-ban"></i>
		</button>
		<button class="hidden unblock-friend-button">
			<i class="fa-solid fa-check"></i>
			<span>Unblock</span>
		</button>
	</div>
</div>