			<div class="bloc-title">
				<div class="page-title" data-ts="auth.pageTitle">Register</div>
				<div class="under-title">
					<span data-ts="auth.underTitle">Transcende and play</span>
				</div>
			</div>

			<div class="section-box auth-box">
				<form class="form-box" id="register-form" enctype="multipart/form-data">

					<div class="fields-container">

						<!-- Email -->
						<div class="field-box">
							<label for="email">
								<span data-ts="auth.emailLabel">Email </span>
								<span class="important-field">*</span> :
							</label>
							<input type="email" data-ts="auth.emailPlaceholder" data-type="placeholder" id="email" name="email" placeholder="your@email.com" autocomplete="email" required>
						</div>

						<!-- Username -->
						<div class="field-box">
							<label for="username">
								<span data-ts="auth.usernameLabel">Username </span>
								<span class="important-field">*</span> :
							</label>
							<input type="text" data-ts="auth.usernamePlaceholder" data-type="placeholder" id="username" name="username" placeholder="Unique username" required>
						</div>

						<!-- Password -->
						<div class="field-box">
							<label for="password">
								<span data-ts="auth.passwordLabel">Password </span>
								<span class="important-field">*</span> :
							</label>
							<input type="password" id="password" name="password" placeholder="*********" autocomplete="new-password" required>
						</div>

						<!-- Avatar -->
						<div class="field-box">
							<label for="avatar">
								<span data-ts="auth.avatarLabel">Avatar </span> :
							</label>
							<input type="file" id="avatar" name="avatar" class="avatar-field" accept="image/*">
						</div>
					</div> 

					<!-- Submit -->
					<div class="btn-container">
						<button type="submit" class="btn form-btn" data-ts="auth.signUpBtn">
							Sign up
						</button>
					</div>

					<div id="alert" aria-live="assertive" class="alert hidden"></div>
				</form>

				<hr class="form-separator mb-5">

				<div class="btn-container btn-google-container">
					<button id="custom-google-btn" class="custom-google-button">
						<div class="google-icon-wrapper">
							<img src="/assets/img/design/google-icon.svg" alt="Google logo" class="google-icon" />
						</div>
						<span data-ts="auth.continueWithGoogle">Continue with Google</span>
					</button>
				</div>
			</div>

			<div class="btn-container">
				<a href="/login" class="btn-icon" data-link>
					<i class="fa-regular fa-circle-left"></i>
				</a>
			</div>