@layer components {
	.control {
		@apply w-20 h-20 bg-black flex items-center justify-center;
		border-radius: 5%;
		box-shadow: 5px 5px 0px white;
		/* transition: box-shadow 0.2s; */
		transition: transform box-shadow ease-in 0.2s;
	}

	.button-press {
		transform: translateY(2px) translateX(2px);
		box-shadow: 3px 3px 0px rgb(180, 180, 180);
	}

	#counter {
		@apply font-title text-8xl
	}

	.canvas-container {
		@apply h-full w-full
	}

	.ready-text {
		@apply mt-5 text-xl font-semibold text-center tracking-widest p-5 uppercase
		border border-white/20 rounded-2xl bg-[#313030] bg-opacity-30 text-center cursor-default select-none;
	}
	.start-space {
		@apply hidden
		desktop:block; 
	}
	.start-click {
		@apply block hover:cursor-pointer hover:bg-opacity-50
		desktop:hidden; 
	}
	.wait-wrapper {
		@apply absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center
		bg-black/60 backdrop-blur-sm;
	}
    @keyframes fade-to-black {
        0% {
            background-color: rgba(0, 0, 0, 0.6); /* bg-black/60 */
        }
        100% {
            background-color: rgba(0, 0, 0, 1); /* full black */
        }
    }
    .timer-wrapper {
		@apply absolute top-0 left-0 z-20 w-full h-full flex flex-col items-center justify-center
		bg-black/60 backdrop-blur-sm;
	}
	.waiting-textbox {
		@apply ready-text flex-row gap-1 bg-[#313030] uppercase;
	}
	.timer-text {
		@apply w-32 h-32 font-classic text-7xl border border-4 border-[#1a1919]    
		rounded-full bg-[#313030] text-center cursor-default select-none
		flex justify-center items-center;
		box-shadow: 0 0 20px black;
	}
	.endgame-panel {
		@apply w-auto h-full flex flex-col items-center justify-center gap-5
		p-10 bg-black bg-opacity-70 border border-black/20 rounded-2xl shadow-lg shadow-black
	}
	.endgame-panel > div {
		@apply flex flex-col items-center justify-center 
	}
	.score-box {
		@apply gap-4
	}
	.res-score {
		@apply text-xl font-classic uppercase flex justify-center items-center;
	}
	.final-score {
		@apply text-4xl px-3;
	}

	.res-message {
		@apply w-full items-center gap-2 p-3 rounded-lg 
		text-4xl font-semibold tracking-widest uppercase text-center
		bg-[#14151491] border border-[#3441394d];
	}

	.win-message {
		@apply text-[#94ffa3];
	}

	.end-message {
		@apply text-[#9497ff];
	}

	.lose-message {
		@apply text-[#ff9494];
	}

	#mobile-menu-container, #mobile-tournament-btns {
		@apply flex desktop:hidden;
	}
}