@layer components {

	/* SECTION */
	#settings-box {
		@apply home-menu;
	}
	/* AVATAR SETTINGS */
	#avatar-container::before {
		@apply absolute inset-0 bg-black opacity-0 transition-opacity duration-300 ease-in-out;
		content: '';
		z-index: 1;
	}

	#avatar-container::before {
		@apply opacity-60;
	}

	#avatar-container .camera-icon {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-300 text-3xl opacity-0 transition-opacity duration-300 ease-in-out;
		z-index: 2;
	}

	#avatar-container .camera-icon {
		@apply opacity-100;
	}

	.avatar-input {
		@apply hidden;
	}

	#avatar-container {
		@apply cursor-pointer;
	}

	/* SETTINGS FORM */
	#settings-form {
		@apply mt-3 px-0
		mobile:px-0;
	}

	#settings-form .field-box, #password-form .field-box {
		@apply mobile:flex mobile:flex-col mobile:justify-center mobile:items-start mobile:space-x-0;
	}

	#settings-form .field-box label, #password-form .field-box label {
		@apply mobile:w-full mobile:text-left mobile:w-80 tablet:w-96;
	}

	#settings-form .field-box.radio {
		@apply flex flex-row items-center justify-between;
	}

	#settings-form .field-box.radio input {
		@apply w-auto;
	}
	
	/* ICONES */
	#settings-form .fa-pen, #settings-form .fa-check, #settings-form .fa-angle-down, #settings-form .fa-angle-up {
		@apply bg-[#4c25ad52] text-gray-300 p-1 border border-black/10 rounded
		
		hover:bg-black/20
		hover:text-cyan-300;
	}

	/* DROPDOWN MENUS */
	.dropdown-container {
		@apply overflow-hidden;
	}

	.input-content {
		@apply mobile:flex flex-col
	}

	.dropdown-title, .input-content {
		@apply flex flex-row items-center justify-between
		border border-black/10 rounded pl-3 pr-1 py-1
		bg-black/10 text-sm font-classic text-gray-300
		cursor-pointer
		
		hover:bg-black/20
		hover:text-cyan-300
		
		tablet:w-96;
	}

	.content-update {
		@apply flex flex-row items-center space-x-4;
	}

	#settings-form .input-container .field-box {
		@apply flex flex-row items-center justify-between space-x-4;
	}

	.dropdown-title span {
		@apply text-left mr-5;
	}

	.dropdown-content {
		@apply px-5 space-y-2 transition-all duration-300 ease-in-out;
	}

	#settings-form input[type="radio"] {
		@apply focus:outline-none focus:ring-0;
	}
}