@charset "UTF-8";
/********** POLICES **********/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.otf") format("opentype"), url("../fonts/montserrat/Montserrat-Bold.otf") format("opentype"), url("../fonts/montserrat/Montserrat-Italic.otf") format("opentype"), url("../fonts/montserrat/Montserrat-Light.otf") format("opentype"), url("../fonts/montserrat/Montserrat-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/noto-serif/NotoSerif-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.otf") format("opentype"), url("../fonts/poppins/Poppins-Bold.otf") format("opentype"), url("../fonts/poppins/Poppins-Italic.otf") format("opentype"), url("../fonts/poppins/Poppins-Light.otf") format("opentype"), url("../fonts/poppins/Poppins-Medium.otf") format("opentype");
}
/******************** VARIABLES ********************/
:root {
  /*----- STRUCTURE -----*/
  --body_width: 60%; /* largeur du body */
  --menu_gap: 100px; /* hauteur menu + espace fenêtre top */
  --menu_gap_thin: 60px; /* [...] au scroll */
  --padding_nav: 10px; /* marges intérieures de la barre de menu */
  --head_page_title: 50vh; /* hauteur header du titre de la page */
  --gap_footer: 50px; /* hauteur du footer */
  --min_height_section: calc(100vh - var(--head_page_title) - var(--menu_gap) - var(--gap_footer));
  --gap_transition: 300ms ease-out; /* animation transition du menu normal à réduit */
  /*----- POLICES -----*/
  --title_font: "Noto Serif", serif; /* titre du site et des sections */
  --secondary_font: "Montserrat", sans-serif; /* titre sur la bannière */
  --main_font: "Poppins", sans-serif; /* body + paragraphes */
  /*----- COULEURS + FONDS -----*/
  /* Palette de kaki */
  --c1: #bbad87; /* couleur 1 */
  --c2: #a19572; /* couleur 2 */
  --c3: #e9e6d8; /* couleur 3 */
  --c4: #d5cebe; /* couleur 4 */
  --c5: #c7c1b7; /* couleur police sur fond foncé */
  --body_bg: rgb(235, 235, 235); /* fond du body */
  --body_bg_2: #444444; /* fond des sections (1/2) */
  --bar_bg:white; /* fond de la topbar + barre footer */
  --shadow: #adadad; /* ombre pour divers blocs */
  --input_bg: #f1f1f1; /* fond input formulaires */
  --border_form: #c7c7c7; /* couleur bordure input formulaires */
  --main_font_color: rgb(48, 48, 48); /* couleur police principale */
  --second_font_color: var(--c5); /* couleur de la police pour une section sur deux */
  --main_link_color: var(--important_infos); /* couleur des liens */
  --menu_link_color: #494747; /* couleur des liens du menu */
  --page_title_color: #ffffff; /* couleur du titre de la page */
  --subtitle_color: #00000088; /* couleur du sous-titre de la page */
  --section_title_color: var(--c2); /* couleur du titre des sections */
  --important_infos: #923939; /* couleur des infos importantes */
  --important: rgb(194, 0, 0); /* couleur des infos importantes */
  --elm_underline: var(--c1); /* couleur de soulignement */
  --dark_borders: #161616; /* bordures foncées diverses */
  --infos_bg: #e5d9ae; /* fond du bandeau infos */
  --bg_button: #b8a998; /* fond des boutons cliquables */
  --hr_color: #b9b9b9; /* couleur séparateur */
  --info_bs: var(--c3); /* fond des blocs infos bootstrap */
  --danger_bs: #ecdbd7; /* fond des blocs danger bootstrap */
  --success_bs: #deecd7; /* fond des blocs success bootstrap */
  /*----- IMAGES - HEADER TITRE DE LA PAGE -----*/
  --title_overlay: rgba(255,255,255,0.3); /* fond avec opacité */
  --img_bg_1: url("../img/banner/class.jpg"); /* image de gauche */
  --img_bg_2: url("../img/banner/play.jpg"); /* image du milieu */
  --img_bg_3: url("../img/banner/musico.jpg"); /* image de droite */
  /* HEADER SEPERATOR */
  --header_separator: url("../img/design/divider.png"); /* image de séparation entre le header et le reste de la page */
}

/******************** RESET CSS ********************/
*, *::before, *::after {
  box-sizing: border-box;
  outline: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: var(--title_font);
}

img, picture {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/******************** GENERAL ********************/
html {
  font-size: 100%;
}

body {
  font-family: var(--main_font);
  text-rendering: optimizeSpeed;
  line-height: 1;
  color: var(--main_font_color);
  background-color: var(--body_bg);
}

#wrapper {
  min-height: 100vh;
  position: relative;
}

/* body.topbar-thin {
	padding-bottom: calc(var(--menu_gap) - var(--menu_gap_thin));
} */
/*----- BLOCAGE DES ANIMATIONS DE TRANSITION AU REFRESH -----*/
#wrapper.preload *, #wrapper.preload *:after, .slider.preload:before {
  transition: all 0s !important;
}

a {
  color: var(--main_link_color);
  text-decoration: none;
  transition: 100ms ease-in-out;
}

a:hover {
  text-decoration: none;
}

a:not(.active, .btn, .menu > ul > li > a, .carousel-control, .bottom_bar a, .content_infos a, section a):hover {
  color: var(--c2);
}

/*------ CLASS STANDARD ------*/
.flex-standard {
  display: flex;
  justify-content: center;
}

/*----- STYLISER LE TEXTE -----*/
.zoom {
  color: var(--c2);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.must {
  color: var(--important);
}

/*----- INDENTATION PARAGRAPHES + LETTRINE -----*/
.indent {
  text-indent: 1em;
}

.indent:first-letter {
  font-size: 1.5em;
  float: left;
  margin-right: -0.7em;
}

/*----- TOPBAR + BARRE FOOTER -----*/
.bar {
  display: flex;
  align-items: center;
  padding: var(--padding_nav);
  background-color: var(--bar_bg);
}

/* CONTENEUR FORMULAIRES */
.form_type {
  width: 80%;
  margin: auto;
}

.form-control:focus, .form-control:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(145, 136, 88, 0.3);
  border-color: transparent;
}

.select2-container {
  display: block;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
}

.select2-container .select2-selection--single {
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}

/*----- ANIMATIONS -----*/
@keyframes opacity-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/******************** HEADER ********************/
/*----- HAUTEUR TOPBAR NORMAL -----*/
.topbar {
  height: var(--menu_gap);
}

.page_title_container, .title_container {
  padding-top: var(--menu_gap);
}

.topbar, .navbar, .logo_bloc img, .logo_bloc .title,
.logo_bloc .contact_title, .page_title_container, .title_container {
  transition: var(--gap_transition);
}

/*----- TOPBAR REDUITE AU SCROLL -----*/
.topbar-thin .topbar {
  height: var(--menu_gap_thin);
}

.topbar-thin .logo_bloc img {
  height: 3.7em;
}

.topbar-thin .logo_bloc .title {
  font-size: 1.7em;
}

.topbar-thin .contact_title {
  font-size: 0.8em;
}

.topbar-thin .page_title_container, .topbar-thin .title_container {
  padding-top: var(--menu_gap_thin);
}

/*----- BLOC TOPBAR (NAVBAR / RDV BOUTON) -----*/
.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 998;
  background-color: var(--bar_bg);
  box-shadow: 0 3px 10px var(--shadow);
}

/*----- BLOC NAVBAR (LOGO / MENU) -----*/
.navbar {
  flex: 1;
  column-gap: 0.5em;
  flex-wrap: initial; /* reset propriété Bootsrap */
}

/*----- BLOC LOGO + NOM DU SITE -----*/
.logo_bloc {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  white-space: nowrap;
}

.logo_bloc img {
  height: 6.2em;
  object-fit: cover;
}

.title_bloc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;
}

.title {
  font-family: var(--title_font);
  font-size: 1.9em;
  padding-bottom: 2px;
  margin-bottom: 5px;
  box-shadow: inset 0 -14px 0 var(--c3);
}

.contact_title {
  font-size: 1em;
  font-family: var(--secondary_font);
}

/*----- LES TROIS FLECHES APRES LE LOGO -----*/
.cool_lines {
  height: calc(var(--menu_gap_thin) - var(--padding_nav) * 2);
  display: flex;
  padding-left: 10px;
}

.line1, .line2, .line3 {
  margin: auto;
  background-color: red;
  clip-path: polygon(100% 50%, 0% 100%, 25% 50%, 0% 0%);
}

.line1 {
  width: 25px;
  height: 100%;
  background-color: #dbdbdb;
}

.line2 {
  width: 15px;
  height: 25px;
  background-color: #c3c3c3;
}

.line3 {
  width: 10px;
  height: 15px;
  background-color: #a9a9a9;
}

/*_______________________________________________________*/
/*----- BLOC NAVIGATION, MENU -----*/
.menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.menu > ul, .menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > ul {
  column-gap: 1em;
  flex-wrap: wrap;
}

.menu > ul > li {
  position: relative;
}

.menu i {
  font-size: 10px;
  margin-top: -5px;
}

/*----- LIENS / TITRES MENU -----*/
.menu a, .menu p {
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  color: var(--menu_link_color);
  font-family: var(--secondary_font);
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

/*----- SOUS-MENUS -----*/
.sous_menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 2%;
  padding: 10px 30px;
  box-shadow: 0 3px 0 var(--shadow);
  background: linear-gradient(180deg, white, white, white, rgb(226, 226, 226));
}

.menu .sous_menu li {
  justify-content: flex-start;
  line-height: 1.4em;
}

/*----- LIENS SOUS-MENUS -----*/
.sous_menu a, .sous_menu_burger a {
  font-size: 0.6em;
  color: black;
  letter-spacing: 1px;
}

.sous_menu i {
  font-size: 10px;
  margin-top: -2px;
}

/*----- HOVER - ACTIVE - FOCUS : LIENS / TITRES MENU + SOUS-MENUS -----*/
.menu > ul > li > a:not(.active)::after, .menu p:not(.sous_active)::after,
.sous_active::after,
.active:not(.sous_menu .active, .sous_menu_burger .active, .carousel-item, .carousel-indicators .active)::after {
  content: " ";
  display: block;
  width: 0;
  margin: auto;
  margin-top: 0.2em;
  border-bottom: 2px solid var(--elm_underline);
  border-radius: 5px;
  transition: 150ms ease-in-out;
}

.menu > ul > li > a:not(.active):hover::after,
.sous_active::after, .sous_menu a::after,
.active:not(.sous_menu .active, .sous_menu_burger .active, .carousel-item, .carousel-indicators .active)::after {
  width: 100%;
}

.menu p:not(.sous_active):hover {
  color: grey;
  transition: 200ms ease;
}

.menu p:not(.sous_active)::after {
  border-bottom: 1.5px solid transparent;
}

.sous_menu .active, .sous_menu_burger .active {
  color: grey;
  font-style: italic;
}

/*----- MENU BURGER -----*/
.menu > ul.burger_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px;
  line-height: 130%;
  box-shadow: 0 3px 0 var(--shadow);
}

.menu .burger_menu > li {
  flex-direction: column;
  align-items: flex-start;
}

.burger_menu .fa-chevron-down {
  display: none;
}

.menu ul li .sous_menu_burger > li {
  justify-content: flex-start;
  padding-left: 25px;
}

.sous_menu_burger {
  display: block !important;
  margin-bottom: 10px;
}

.click_toggle {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

#toggle_menu {
  height: 100%;
  display: none;
  align-items: center;
}

.nav_toggle, .nav_toggle:before, .nav_toggle:after {
  content: "";
  width: 30px;
  height: 4px;
  background-color: var(--c2);
  border-radius: 30px;
  transition: 200ms ease-in-out;
}

.nav_toggle:before, .nav_toggle:after {
  position: absolute;
}

.nav_toggle {
  position: relative;
}

.nav_toggle:before {
  top: -10px;
}

.nav_toggle:after {
  top: 10px;
}

/* TOGGLE AU CLICK */
.nav_toggle_click {
  background-color: inherit;
}

.nav_toggle_click:before {
  transform: rotate(45deg);
  top: 0;
}

.nav_toggle_click:after {
  transform: rotate(-45deg);
  top: 0;
}

/*_______________________________________________________*/
/*----- PRENDRE RDV -----*/
.book_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  padding-left: 35px;
  row-gap: 0.2em;
  background-color: var(--c3);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.book_btn {
  display: flex;
  align-items: stretch;
  column-gap: 0.5em;
  padding: 10px;
  color: #000000;
}

.book_btn div {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}

.book_btn i {
  font-size: 200%;
  color: var(--c2);
}

.book_btn p {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.book_btn p:first-child {
  font-size: 0.9em;
  color: var(--important_infos);
}

/*_______________________________________________________*/
/*----- BANNIERE TITRE PAGE -----*/
.page_title_container {
  width: 100%;
  height: var(--head_page_title);
  box-sizing: content-box;
  position: relative;
}

/*----- IMAGE DE FOND -----*/
.bg_img_container {
  display: flex;
  justify-content: space-between;
  background: var(--body_bg_2);
  filter: saturate(50%);
}

/*----- LES TROIS IMAGES SUPERPOSEES -----*/
.bg_img_container, .img_bg_1, .img_bg_2, .img_bg_3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.img_bg_1 {
  background-image: var(--img_bg_1);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  margin-right: -10%;
}

.img_bg_2 {
  background-image: var(--img_bg_2);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-right: -10%;
}

.img_bg_3 {
  background-image: var(--img_bg_3);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/*----- TITRE + SOUS-TITRE DE LA PAGE -----*/
.title_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1em;
  background-color: var(--title_overlay);
  font-family: var(--secondary_font);
}

.page_title {
  font-size: 3.3em;
  font-family: var(--secondary_font);
  text-align: center;
  color: var(--page_title_color);
  text-shadow: 1px 1px 35px var(--shadow);
  animation-duration: 1s;
  animation-name: opacity-title;
}

.subtitle {
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 0.3em;
  font-weight: bold;
  color: var(--subtitle_color);
  animation-duration: 2s;
  animation-name: opacity-title;
}

/******************** BODY ********************/
.main {
  width: 100%;
  padding-bottom: var(--gap_footer);
}

#top {
  padding-top: 0;
}

#top:target {
  margin-top: calc(0em - var(--menu_gap));
  padding-top: var(--menu_gap);
}

/*----- TITRES SECTIONS -----*/
.section_title {
  font-size: 1.9em;
  margin-bottom: 1.5em;
  font-family: var(--title_font);
  color: var(--section_title_color);
  text-align: center;
}

.section_title::before {
  content: "▬";
  margin-right: 0.2em;
  opacity: 0.4;
}

/*----- LISTES A PUCES -----*/
.list {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  font-size: 0.9em;
  line-height: 1.7em;
}

/******************** BODY ********************/
section {
  position: relative;
  padding: 80px calc((100% - var(--body_width)) / 2);
  min-height: var(--min_height_section);
  clear: both;
}

section:not(section:last-child)::after, .page_title_container::after {
  display: block;
  content: " ";
  background-image: var(--header_separator);
  width: 100%;
  height: 32px;
  transform: scale(1);
  left: 0;
  position: absolute;
  bottom: -21px;
  z-index: 1;
}

section:nth-child(2n):not(section:last-child)::after, .page_title_container::after {
  transform: scaleY(-1);
  bottom: -11px;
}

section:nth-child(2n) {
  background-color: var(--body_bg_2);
  color: var(--second_font_color);
}

section:nth-child(2n) .section_title {
  color: var(--c1);
  text-align: left;
}

/*----- IMAGE DANS LA SECTION DE PRESENTATION -----*/
.img-section {
  max-width: 50%;
  height: 100%;
}

.sepia {
  filter: sepia(0.8);
}

.bright {
  filter: contrast(0.8) brightness(1.1);
}

/*----- LOGOS -----*/
.img-logo {
  width: 230px;
  margin: 0 10px;
}

/*----- LIENS SECTIONS -----*/
section a:not(.carousel-control, .source a) {
  box-shadow: inset 0 -4px 0 var(--c4);
  font-style: normal;
  font-size: 0.9em;
}

section a:not(.carousel-control, .source a, .btn) {
  font-weight: bold;
}

section a:not(.carousel-control, .source a):hover {
  color: black;
  box-shadow: inset 0 -30px 0 var(--c4);
}

section a.selected {
  color: black;
  box-shadow: inset 0 -30px 0 var(--c5);
}

/*----- PARAGRAPHES SECTION -----*/
.main p {
  font-size: 0.9em;
  line-height: 1.7em;
}

.main p:not(.card-text) {
  margin: 1em auto;
}

/*----- FORMATAGE CITATION D'ARTICLE -----*/
.section_quote p {
  font-style: italic;
}

/*----- SOURCE CITATION D'ARTICLE -----*/
.main .source {
  font-size: 0.7em;
  text-align: right;
  margin-top: 2.5em;
}

/*----- SECTIONS EN DISPLAY FLEX -----*/
.flex_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 10%;
  height: 3px;
  background-color: black;
}

.line_left {
  transform: rotate(140deg);
  margin-left: -15px;
  margin-right: -17px;
  margin-bottom: -20px;
}

.line_right {
  transform: rotate(175deg);
  margin-left: -7px;
  margin-top: -110px;
}

/*----- IDENTITE / TEXTE BIO -----*/
.box_container {
  width: 300px;
  padding: 10px;
  background-color: black;
  position: relative;
}

.identite_container {
  margin-bottom: -30px;
}

.main .box_container p {
  padding: 15px;
  border: 1px solid var(--c2);
  font-style: italic;
  line-height: 140%;
  text-align: center;
  margin: 0;
}

img.identite {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  filter: saturate(0) brightness(1.2);
  border: 3px solid black;
  position: relative;
  margin-top: -75px;
  z-index: 1;
}

#signature {
  display: block;
  text-align: right;
  font-size: 0.8em;
  font-style: normal;
  margin-top: 10px;
}

/*----- GUILLEMETS QUOTES BIO -----*/
.box_container .fa-quote-left, .box_container .fa-quote-right {
  color: var(--c1);
  position: absolute;
}

.box_container .fa-quote-left {
  top: 2px;
  left: 2px;
}

.box_container .fa-quote-right {
  bottom: 2px;
  right: 2px;
}

/*----- BLOC CONSULTATIONS (PRESENTIEL / DISTANCIEL) -----*/
.bloc_consult {
  width: 320px;
  padding: 20px;
  margin-top: -125px;
  text-align: center;
  border-radius: 30px;
  border-right: 8px solid var(--c3);
  border-bottom: 8px solid var(--c1);
}

.logos_consult {
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid var(--dark_borders);
}

/*----- ICONES PRESENTIEL / DISTANCIEL -----*/
.logos_consult i:not(.fa-info-circle, .fa-bus) {
  font-size: 50px;
  color: rgb(95, 95, 95);
}

/*----- TEXTE SOUS ICONES PRESENTIEL / DISTANCIEL -----*/
.consult_state {
  margin-top: 3px;
  margin-bottom: 3px;
  color: var(--c3);
}

.consult_biais {
  margin-top: 5px;
  font-size: 0.8em;
  line-height: 120%;
}

/*----- BOUTON TARIFS -----*/
.bloc_consult .btn {
  margin-top: 1em;
}

/*----- LOGOS DIVERS (PRESENTIEL / DISTANCIEL) -----*/
.logos_consult, .logos_consult_row {
  display: flex;
}

.logos_consult {
  justify-content: center;
}

.logos_consult_row:first-child {
  border-right: 1px solid var(--dark_borders);
}

.logos_consult_row {
  width: 50%;
  row-gap: 0.2em;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2px 8px 2px;
}

.card-img-top {
  height: 160px;
  object-fit: cover;
  filter: contrast(0.7) brightness(1.2) saturate(0.7);
}

/*----- BLOC DOCUMENTATION AVEC LIENS EXTERNES -----*/
div#faq {
  border-radius: 0 0 0 5%;
  overflow: hidden;
  border-bottom: 8px solid var(--c1);
}

.docu_container {
  padding: 5px 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 0 30px 30px 0;
  border-right: 8px solid var(--c3);
  border-bottom: 8px solid var(--c1);
}

.main .docu_container a {
  display: block;
  color: var(--c3);
  padding: 5px 0;
  line-height: 145%;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  box-shadow: none;
}

.main .docu_container a:hover {
  box-shadow: none;
  color: var(--c1);
}

.docu_container i {
  font-size: 1.4em;
  color: var(--c2);
}

/******************** FOOTER ********************/
/*----- FOOTER MENU + COPYRIGHT -----*/
.bottom_bar {
  width: 100%;
  height: var(--gap_footer);
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  font-size: 0.7em;
  box-shadow: 0 -1px 5px var(--shadow);
}

.copyright, .bottom_bar a {
  margin: 0 20px;
  flex-shrink: 0;
}

.bottom_bar a::before {
  content: " | ";
  margin-right: 40px;
  color: grey;
}

.bottom_bar a {
  color: var(--menu_link_color);
  text-transform: uppercase;
}

.xdsoft_datetimepicker .xdsoft_label {
  z-index: 997;
}

.xdsoft_datetimepicker .xdsoft_datepicker {
  width: 70%;
  float: none;
  margin-left: 0;
}

.xdsoft_datetimepicker .xdsoft_timepicker {
  width: 20%;
  float: none;
  text-align: center;
  margin-left: 0;
}

.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
  height: 35px;
}

.xdsoft_datetimepicker .xdsoft_datepicker.active + .xdsoft_timepicker {
  margin-top: 9px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
  height: 211px;
}

.xdsoft_datetimepicker.xdsoft_inline {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 320px;
  padding: 15px 0;
}

/*----- MODIFS MODULES BOOTSTRAP -----*/
/*----- BLOCS ALERT -----*/
.alert-info {
  color: #3c3b21;
  background-color: var(--info_bs);
  border: 1px solid #e2d5c1;
}

.alert-danger {
  color: #3c2121;
  background-color: var(--danger_bs);
  border: 1px solid #e2c1c1;
}

.alert-success {
  color: #3c3b21;
  background-color: var(--success_bs);
  border: 1px solid #cbe2c1;
}

/*----- BOUTONS -----*/
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
  background-color: var(--c3);
  color: black;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:active:focus {
  background-color: var(--c1);
  color: white;
}

.btn, .btn-primary, .btn-secondary, .btn-warning, .btn-danger {
  border: none;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:active:focus,
.btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus,
.btn-danger:active, .btn-danger:focus, .btn-danger:active:focus,
.btn-warning:active, .btn-warning:focus, .btn-warning:active:focus {
  box-shadow: none;
}

/*----- TABLEAU (POUR TARIFS) -----*/
.table > :not(:first-child) {
  border-top: 2px solid #74726c;
}

/*----- CAROUSEL -----*/
.carousel {
  /* width: 694px;  */
  flex: 1;
  height: 390px;
  margin: 1em auto;
}

.carousel-control-prev, .carousel-control-next {
  width: auto;
  height: 340px;
}

.carousel-inner {
  width: 80%;
  /* width: 625px;  */
  height: 340px;
  margin: auto;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: none;
  margin: auto 10px;
  opacity: 0.3;
}

.carousel-dark .carousel-indicators .active {
  opacity: 0.7;
}

.formules .card {
  width: 30%;
}

/******************** RESPONSIVE ********************/
/* ADAPTATION DE LA LARGEUR DU BODY */
@media only screen and (max-width: 1670px) {
  :root {
    --body_width: 70%;
  }
}
@media only screen and (max-width: 1520px) {
  :root {
    --body_width: 75%;
  }
}
@media only screen and (max-width: 1300px) {
  :root {
    --body_width: 85%;
  }
  .img-logo {
    width: 180px;
  }
}
/* MENU BURGER */
@media only screen and (max-width: 1078px) {
  :root {
    --body_width: 90%;
  }
  .navbar {
    column-gap: 2em;
  }
  .menu {
    justify-content: flex-start;
    flex: 0;
  }
  .logo_bloc_link {
    flex: 1;
  }
  #toggle_menu {
    display: flex;
  }
  .menu > ul, .cool_lines, .logo_bloc img {
    display: none;
  }
  .navbar {
    flex-direction: row-reverse;
  }
}
/* SIMPLIFICATION DE LA BANNIERE + POSITIONNEMENT DES CARDS + POSITIONNEMENT BLOC LOCALISATION + LARGEUR FORMULAIRE CONTACT */
@media only screen and (max-width: 1019px) {
  :root {
    --head_page_title: 30vh;
  }
  .pres-bloc {
    flex-direction: column;
    align-items: center;
  }
  .img_bg_1, .img_bg_3 {
    display: none;
  }
  .img_bg_2 {
    clip-path: none;
  }
  .formules {
    justify-content: center !important;
    gap: 3rem !important;
  }
  .formules > div {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .formules .card {
    width: 100%;
  }
  .localisation_bloc {
    flex-direction: column;
    align-items: center;
  }
  .form_type {
    width: 80%;
  }
}
/* DISPARITION DE L'IMAGE DU TEXTE DE PRESENTATION + DISPOSITION VERTICALE DE LA PARTIE MUSICOTHERAPEUTE */
@media only screen and (max-width: 800px) {
  .img-section {
    display: none;
  }
  .main p {
    font-size: 0.8em;
  }
  .flex_section {
    flex-direction: column;
  }
  .identite_container {
    margin: 0;
    margin-right: -120px;
  }
  .line {
    width: 72px;
  }
  .line_left {
    transform: rotate(255deg);
    margin-top: 28px;
  }
  .line_right {
    transform: rotate(120deg);
    margin-left: -7px;
    margin-top: 24px;
  }
  img.identite {
    margin-top: 38px;
    margin-left: 48px;
  }
  .bloc_consult {
    margin-top: 26px;
    margin-left: -128px;
  }
}
/* CARDS ET TARIFS PRENNENT TOUTE LA LARGEUR + FOOTER EN COLONNE */
@media only screen and (max-width: 714px) {
  .tarif_label {
    display: none;
  }
  .tarif_line {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tarif_line:not(.tarif_line:first-child) {
    margin-top: 20px;
  }
  .card {
    width: 100%;
  }
  .bottom_bar {
    padding: 20px 0;
    height: auto;
    flex-direction: column-reverse;
    row-gap: 1em;
  }
  .bottom_bar a::before {
    content: " ";
    margin: 0;
  }
}
/* SIMPLIFICATION DE LA TOPBAR POUR PETITS ECRANS + INPUT FORM EN COLONNE */
@media screen and (max-width: 590px) {
  .topbar-thin .logo_bloc .title {
    font-size: 1.3em;
  }
  .contact_title {
    display: none;
  }
  .flex_form {
    flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  .topbar-thin .logo_bloc .title {
    font-size: 1em;
    width: 120px;
    white-space: normal;
  }
}
/* SIMPLIFICATION DE LA PARTIE MUSICOTHERAPEUTE POUR PETITS ECRANS */
@media only screen and (max-width: 485px) {
  .identite_container, .bloc_consult {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 415px) {
  .book_btn div {
    display: none;
  }
  .page_title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 80%;
  }
}
@media only screen and (max-width: 400px) {
  :root {
    --body_width: 95%;
  }
}
/* SIMPLIFICATION DE LA LARGEUR DES BLOCS DE LA PARTIE MUSICOTHERAPEUTE + REDUCTION PLICE TITRES SECTIONS */
@media only screen and (max-width: 350px) {
  .box_container, .bloc_consult {
    width: 230px;
  }
  .section_title {
    font-size: 1.6em;
  }
}
/* TITRE DU SITE TOUT PETIT POUR MINI ECRANS */
@media only screen and (max-width: 310px) {
  .topbar-thin .logo_bloc .title {
    font-size: 0.7em;
    width: 84px;
  }
}

/*# sourceMappingURL=style.css.map */
