@layer utilities {
	.mt-main {
		@apply mt-[--navbar-height];
	}
	
	.text-shadow-black {
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
	}
	.text-shadow-white {
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.445);
	}
	.text-shadow-none {
		text-shadow: none;
	}

    .no-hover-translate:hover {
        transform: none !important;
    }
}