					<!-- Ligne principale de recherche -->
					<div class="search-main">
						<input type="text" id="search-input" placeholder="Search by username">
						<button id="search-button">
							<i class="fa-solid fa-magnifying-glass"></i>
							<span>Search</span>
						</button>
						<button class="filters-toggle" id="filters-toggle">
							<span>Filters</span>
							<i class="fa-solid fa-angle-down"></i>
						</button>
					</div>

					<!-- Filtres avancés -->
					<div class="filters-container hidden" id="filters-container">
						<!-- Filtre par statut -->
						<div class="filter-group">
							<label class="filter-label">Status :</label>
							<select class="filter-select" id="status-filter">
								<option value="">Any</option>
								<option value="online">🟢 online</option>
								<option value="offline">⚪ offline</option>
								<!-- <option value="ingame">🟠 in game</option> -->
							</select>
						</div>

						<!-- Filtre par niveau -->
						<!-- <div class="filter-group">
							<label class="filter-label">Level :</label>
							<select class="filter-select" id="level-filter">
								<option value="">Any</option>
								<option value="1-10">1-10</option>
								<option value="11-25">11-25</option>
								<option value="26-50">26-50</option>
								<option value="51+">51+</option>
							</select>
						</div> -->

						<!-- Filtres par checkboxes -->
						<div class="filter-group friend-info">
							<input type="checkbox" id="friends-only" class="filter-checkbox">
							<label for="friends-only" class="filter-label">Friends only</label>
						</div>

						<!-- Bouton reset filtres -->
						<button class="btn smaller-btn mt-0" id="reset-filters">
							Reset
						</button>
					</div>