					<!-- Ligne principale de recherche -->
					<div class="search-main">
						<input type="text" id="search-input" data-ts="users.searchPlaceholder" data-type="placeholder" placeholder="Search by username">
						<div class="search-buttons">
							<button id="search-button">
								<i class="fa-solid fa-magnifying-glass"></i>
								<span data-ts="users.search">Search</span>
							</button>
							<button class="filters-toggle" id="filters-toggle">
								<span data-ts="users.filters">Filters</span>
								<i class="fa-solid fa-angle-down"></i>
							</button>
						</div>
					</div>

					<!-- Filtres avancés -->
					<div class="filters-container hidden" id="filters-container">
						<!-- Filtre par statut -->
						<div class="filter-group">
							<label class="filter-label" data-ts="users.status">Status :</label>
							<select class="filter-select" id="status-filter">
								<option value="" data-ts="users.any">Any</option>
								<option value="online" data-ts="users.online">🟢 online</option>
								<option value="offline" data-ts="users.offline">⚫ offline</option>
								<!-- <option value="ingame">🟠 in game</option> -->
							</select>
						</div>

						<!-- Filtre par niveau -->
						<!-- <div class="filter-group">
							<label class="filter-label" data-ts="users.level">Level :</label>
							<select class="filter-select" id="level-filter">
								<option value="" data-ts="users.any">Any</option>
								<option value="1-10" data-ts="users.level1-10">1-10</option>
								<option value="11-25" data-ts="users.level11-25">11-25</option>
								<option value="26-50" data-ts="users.level26-50">26-50</option>
								<option value="51+" data-ts="users.level51+">51+</option>
							</select>
						</div> -->

						<!-- Filtres par checkboxes -->
						<div class="filter-group friend-info">
							<input type="checkbox" id="friends-only" class="filter-checkbox">
							<label for="friends-only" class="filter-label" data-ts="users.friendsOnly">Friends only</label>
						</div>

						<!-- Bouton reset filtres -->
						<button class="btn p-btn mt-0" id="reset-filters">
							<span data-ts="users.reset">Reset</span>
						</button>
					</div>