<h1 class="font-title font-bold text-5xl text-center text-shadow-black w-full">Tournament Lobby</h1>
<div id="pastilles-holder"
    class="gap-1 p-2 h-96 w-full m-5 bg-black bg-opacity-60 shadow-lg shadow-black ring-1 ring-black <!-- inset-shadow-lg inset-shadow-white-500 --> border-white rounded-md overflow-hidden">
</div>
<div id="buttons" class="w-full relative flex justify-center">
    <button id="tournament-cancel-btn"
        class="hidden rounded-md border-black border-2 border-transparent m-1 p-2 transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-red-500 hover:opacity-90 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">Cancel
        Tournament</button>
    <button id="tournament-join-leave-btn"
        class="rounded-md border-black w-16 border-2 border-transparent m-1 p-2 transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-white hover:opacity-90 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">...</button>
    <button id="tournament-ready-btn"
        class="rounded-md border-black border-2 border-transparent m-1 p-2 transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-white hover:opacity-90 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">...</button>
    <button id="tournament-start-btn"
        class="rounded-md border-black border-2 border-transparent m-1 p-2 transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-green-500 hover:opacity-90 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">Start
        Tournament</button>
</div>
<div id="cancel-dialog-overlay"
    class="hidden fixed inset-0 flex items-center justify-center opacity-0 bg-black bg-opacity-50 z-50 transition-opacity duration-300">
    <div id="cancel-dialog"
        class="flex justify-center items-center bg-black p-6 rounded-lg shadow-md shadow-black w-full max-w-md">
        <h2 class="text-xl font-title ">Sure you want to cancel tournament?</h2>
        <button id="no-btn"
            class="rounded-md border-black border-2 border-transparent m-1 p-2 transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-green-500 hover:opacity-90 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">
            It's a mistake!</button>
            <button id="yes-btn"
                class="rounded-md border-black border-2 border-transparent m-1 p-2 transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-red-500 hover:opacity-90 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">
                Yes please.</button>
    </div>
</div>
<div id="redirect-dialog-overlay"
    class="hidden fixed inset-0 flex items-center justify-center opacity-0 bg-black bg-opacity-50 z-50 transition-opacity duration-300">
    <div id="redirect-dialog"
        class="flex justify-center items-center bg-black p-6 rounded-lg shadow-md shadow-black w-full max-w-md">
        <h2 class="text-xl font-title ">This tournament has been canceled by its owner!</h2>
        <button id="redirect-btn"
            class="rounded-md border-black border-2 border-transparent m-1 p-2 transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-red-500 hover:opacity-90 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">
            Back to tournament lobby..</button>
    </div>
</div>
<div id="infos-game"></div>