<section id="tournament-overview" class="w-full h-full flex justify-center">
    <div id="first-stage" class="flex flex-col m-5 justify-around w-1/4"></div>
    <div id="second-stage" class="flex flex-col m-5 justify-around w-1/4"></div>
    <div id="winner" class="flex flex-col m-5 justify-around w-1/4"></div>
</section>
<div id="next-game" class="flex flex-col justify-center items-center w-1/4 p-3 font-home text-white text-2xl">
    <h2 class="text-center font-title">Next game :</h2>
    <div id="names" class="flex items-center m-1 p-1">
        <h2 id="player-one" class="text-black m-2 text-bold text-center font-title"></h2>
        <h2 class="text-center">versus</h2>
        <h2 id="player-two" class="text-black m-2 text-bold text-center font-title"></h2>
    </div>
    <button id="tournament-start-btn"
        class="w-1/3 m-2 p-2 relative rounded-md border-black ring-1 ring-black shadow-lg shadow-black bg-black bg-opacity-70 text-white text-lg transform transition-all delay-50 duration-300 ease-in-out active:duration-75 hover:-translate-y-1 hover:bg-white hover:opacity-100 hover:text-black hover:scale-110 active:scale-105 active:translate-y-0.5 inline-block will-change-transform">Start Game!
    </button>
</div>