<div id="tournament-pastille"
    class="tournament-pastille relative flex h-32 justify-center items-center m-2 bg-black bg-opacity-70 
            text-center text-lg border border-white shadow-black shadow-[-10px_10px_20px_rgba(0,0,0,0.25),-6px_6px_6px_rgba(0,0,0,0.22)] rounded-md box-border opacity-0 transition-opacity duration-500 ease-in-out"
    data-id="">
    <div class="w-1/2 flex justify-evenly items-center ">
        <img id="user-avatar" class="h-16 w-16 m-1 object-cover rounded-full"/>
        <h2 id="pastille-name" class="w-full"></h2>
    </div>
</div>