@layer components {

	/* BUTTONS - GENERAL */
	.btn-container {
		@apply flex items-center justify-center space-x-4 py-2;
	}
	.btn {
		@apply min-w-64 px-6 py-2 rounded-full bg-white/10 backdrop-blur-md border border-white/20
		text-white tracking-widest font-semibold uppercase text-sm text-center shadow-md 
		hover:bg-white/20 hover:shadow-lg transition duration-300 select-none
		
		mobile:min-w-80 mobile:text-lg;
	}
	.smaller-btn {
		@apply min-w-24 text-xs px-0 mt-2;
	}
	.p-btn {
		@apply smaller-btn min-w-0 px-6;
	}
	.form-btn {
		@apply min-w-40 -mt-3;
	}

	/* PREVIOUS ARROW*/
	.btn-icon {
		@apply mt-5 text-5xl text-[#d5d5d5] text-opacity-80;
	}

	/* GOOGLE BUTTON */
	.btn-google-container {
		@apply absolute bottom-0 left-0 w-full py-0
		rounded-bl-[16px] rounded-br-[16px]
		bg-pastel-blue;
	}
	.custom-google-button {
		@apply w-full h-10 flex items-center justify-center font-classic
		bg-white/10 backdrop-blur-sm
		rounded-bl-[16px] rounded-br-[16px]
		text-gray-300 text-sm transition-all duration-200
		hover:bg-white/20 hover:text-gray-100
		cursor-pointer;
	}
	.google-icon-wrapper {
		@apply p-0.5 mr-3 bg-white rounded-full;
	}
	.google-icon {
		@apply w-3 h-3 flex-shrink-0;
	}
}