@layer components {

	/* FORMS - GENERAL */
	.form-box {
		@apply w-full mx-auto px-4 space-y-8 text-xl select-none
		mobile:max-w-sm
		tablet:px-7
		desktop:px-9;
	}
	.fields-container {
		@apply space-y-4;
	}
	.field-box {
		@apply flex flex-col justify-center
	}
	#login-form .field-box {
		@apply mobile:flex-row mobile:items-center mobile:space-x-2;
	}
	.field-box label {
		@apply w-full font-classic text-xs
	}	
	#login-form .field-box label {
		@apply mobile:w-28 mobile:text-right;
	}
	.field-box input, .field-box select, #search-bar input {
		@apply border border-gray-300 rounded px-3 py-1 focus:outline-none focus:ring focus:ring-blue-300
		text-black font-classic text-sm w-full;
	}
	.field-box input:valid, .field-box select:valid {
		@apply border-gray-300;
	}
	.important-field {
		@apply font-bold text-red-300 text-base;
	}
	.form-separator {
		@apply border-0 border-t-8 border-solid border-white/20 w-full my-4;
	}
	.auth-box span:not(#custom-google-btn span) {
		@apply cursor-default;
	}

	/* REGISTER PAGE */
	.field-box input.avatar-field {
		@apply text-gray-500 bg-white;
	}

	/* LOGIN + TWOFA PAGE */
	.auth-box {
		@apply px-0 m-5 mt-0;
	}
	.auth-box label {
		@apply whitespace-nowrap;
	}
	#login-form .field-box label, #twofa-form .field-box label {
		@apply w-20;
	}
}