	<div class="modal-content section-box auth-box">

		<div class="bloc-title">
			<div class="page-title" data-ts="twofa.pageTitle">Two-Step Authentication</div>
			<div class="under-title"></div>
		</div>
	
		<div class="form-box" id="twofa-form">		
			<div class="fields-container">

				<!-- Email / numeric code container -->
				<div id="twofa-email-container" class="hidden">

					<hr class="form-separator">
					<div class="field-box">
						<div>
							<label for="twofa-code" data-ts="twofa.codeLabel">Code received :</label>
							<input type="text" data-ts="twofa.codeInput" data-type="placeholder" id="twofa-code-email" autocomplete="one-time-code" placeholder="Insert your secret code here" />
						</div>
					</div>

					<hr class="form-separator">
					<div class="btn-container">
						<button id="twofa-email-resend-btn" data-ts="twofa.resendBtn" type="button" class="btn form-btn bg-black/10">
							Resend
						</button>
						<button id="twofa-email-code-submit-btn" data-ts="twofa.submitBtn" type="submit" class="btn form-btn">
							Confirm
						</button>
					</div>
				</div>

				<!-- QR Code container -->
				<div id="twofa-qrcode-container" class="hidden">

					<hr class="form-separator">
					<div id="twofa-qrcode"></div>

					<div class="field-box mt-2">
						<div>
							<label for="twofa-code" data-ts="twofa.codeLabel">Code received :</label>
							<input type="text" data-ts="twofa.codeInput" data-type="placeholder" id="twofa-code-qrcode" autocomplete="one-time-code" placeholder="Insert your secret code here" />
						</div>
					</div>

					<hr class="form-separator">
					<div class="btn-container">
						<button id="twofa-qrcode-submit-btn" data-ts="twofa.sendBtn" type="button" class="btn form-btn">
							Send
						</button>
					</div>
				</div>

				<div id="twofa-spinner" class="spinner hidden" aria-hidden="true"></div>
				<div id="twofa-error" aria-live="assertive" class="alert error-message hidden"></div>

				<hr class="form-separator">

				<div class="btn-container">
					<button id="twofa-back-btn" class="btn-icon" data-link>
						<i class="fa-regular fa-circle-left"></i>
					</button>
				</div>
			</div>
		</div>

	</div>
